<a href="https://colab.research.google.com/github/imad-collab/imad/blob/main/dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataframe

In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [ ]:
import webbrowser

In [ ]:
website = 'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html'

In [ ]:
webbrowser.open(website)

In [ ]:
df= pd.read_clipboard()

In [ ]:
df

## Creating dataframes using numpy and dictionaries

In [ ]:
x=np.array([[1,2,3],[4,5,6]])
x

In [ ]:
dict1=DataFrame({'col1':[1,2,3],"col2":[4,5,6]})
dict1

In [ ]:
## Read a csv file
df1 = pd.read_csv('Universities.csv')

In [ ]:
df1

In [ ]:
type(df1)

In [ ]:
df1 = pd.read_csv('Universities.csv',nrows = 2)
df1

In [ ]:
df1 = pd.read_csv('Universities.csv',usecols=[1,3])
df1

In [ ]:
df1.columns

In [ ]:
df1[['SAT','Accept']]

In [ ]:
df1.head()

In [ ]:
df1.head(10)

In [ ]:
df1.tail()

In [ ]:
df1.tail(10)

In [ ]:
df1.head()

In [ ]:
df1.iloc[2]

In [ ]:
df1.iloc[3:6]

In [ ]:
df2 = pd.read_csv('Universities.csv')
df2.head()

In [ ]:
df2 = pd.read_csv('Universities.csv',index_col = 'Univ')
df2

In [ ]:
df2.loc['Yale']

In [ ]:
df2.iloc[2]

In [ ]:
df2.loc[['UVA','Yale']]

In [ ]:
df2.loc['UVA':'Yale']

In [ ]:
df2.shape

In [ ]:
x= df2.drop('Yale')
x

In [ ]:
x.shape

In [ ]:
y = df2.drop('Top10', axis =1)
y

In [ ]:
y.shape

In [ ]:
df2.head()

In [ ]:
df2.describe()

## Handling with null values

In [ ]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

In [ ]:
dframe

In [ ]:
new_frame= dframe.dropna() # Drop the rows having na 
new_frame

In [ ]:
new_frame=dframe.dropna(how='all')  # Drop the rows having na's in all the rows
new_frame

In [ ]:
new_frame=dframe.dropna(axis = 1)  # Drop the Columns having na's in all the columns
new_frame

In [ ]:
dframe

In [ ]:
dframe.dropna(thresh = 2) # Drop the rows not having  atleast 2 values

In [ ]:
dframe.fillna(1)